.rectangleUserProfile {
    width: 1350px;
    height: 700px;
    background-color: white;
    margin: 0 auto;
    margin-left: 65px;
    margin-top: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-y: auto;
}


.profile-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-photo-container {
    position: relative;
    left: 10%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    margin-top: 20px;
}

.default-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.input-userProfile {
    margin: 0.5rem 0;
    padding: 1.1rem;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.2);
    width: 335px;
  }

.input-image {
    width: 335px;
    background-color: rgb(75, 171, 240);
  }

.inputClass {
    margin: 0.5rem 0;
    padding: 1.1rem;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.2);
    width: 365px;
}


.btn-submit-mail {
    background: rgb(75, 171, 240);
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 400px;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }