/* Styles par défaut */

.HomePage {
    width: 100vw;
    height: 100vh;
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-wrap: wrap;
}

canvas {
    width: 200%;
    height: 100%;
}

.titre {
    margin-top: 60px;
    text-align: left;
    padding-left: 65px;
}

.rectangle1 {
    width: 1350px;
    max-height: 400px;
    background-color: white;
    margin: 0 auto;
    margin-left: 65px;
    margin-top: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.rectangle2 {
    width: 1350px;
    height: 330px;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 65px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.select-container {
    width: 300px;
}

.blue-square {
    width: 500px;
    height: 250px;
    background-color: rgb(75, 171, 240);
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 85px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
}

.image {
    left: 30px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}

.image2 {
    left: 30px;
    position: absolute;
    top: 73%;
    transform: translateY(-50%);
}

/* Media queries pour la mise en page responsive */

@media (max-width: 1680px) {
    .HomePage {
        flex-direction: column;
    }

    .rectangle1,
    .rectangle2 {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 0;
    }

    .titre {
        padding-left: 20px;
        margin-top: 20px;
    }

    /* Styles pour les carrés bleus à l'intérieur du rectangle2 */
    .blue-square {
        width: 40%;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 5;
    }

    .blue-square:nth-child(odd) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .blue-square:nth-child(even) {
        margin-right: 0;
        margin-bottom: 20px;
    }

}


@media (max-width: 600px) {
    .select-container {
        width: 40%;
        margin-right: auto;
    }
    .titre {
        font-size: 20px;
    }
}
