.rectangle {
    width: 1350px;
    height: 700px;
    background-color: white;
    margin: 0 auto;
    margin-left: 65px;
    margin-top: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-y: auto;
  }

.titre {
    margin-top: 60px;
    text-align: left;
    padding-left: 65px;
}

.rectangle-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; /* Aligner les capteurs vers la gauche */
    margin-top: 50px;
    margin-left: 70px;
}

.delete-button {
    position: absolute;
    top: 0px;
    left: 112px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

/* Style pour masquer le texte de placeholder */
.hidden {
  display: none;
}


.dot {
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    margin-bottom: 2px;
}

.search-bar {
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    position: relative;
}

/* Style du texte de placeholder */
.placeholder-text {
    position: absolute;
    top: 50%;
    left: 50px; /* Ajustez la valeur pour décaler le placeholder vers la droite */
    transform: translateY(-50%);
    color: #aaa;
}

.search-icon {
    width: 40px;
    height: 40px;
    margin-left: 200px;
    position: absolute;
}

.search-bar-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.btn-cancel {
    margin-left: 0.5rem;
}

.button-group {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}



.select-custom {
    display: block;
    width: 20%;
    height: auto;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #333;
    cursor: pointer;
    appearance: none;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.2);
}



.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-container {
    display: flex;
    align-items: center;
}
