/* Default styles for larger screens */
.SideBar {
    height: 100%;
    width: 250px;
    background-color: rgb(75, 171, 240);
    display: block;
    transition: width 0.5s; /* Ajoutez une transition de largeur */
}

.SideBarList {
    height: auto;
    padding: 0;
    padding-top: 105%;
    margin: 0;
    width: 100%;
}

.SideBarList #active {
    background-color: rgb(0, 149, 255);
}

.SideBarList .row:hover {
    cursor: pointer;
    background-color: rgb(0, 149, 255);
}

.SideBarList .row {
    width: 100%;
    height: 75px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

/* Condition pour réduire la largeur de la sidebar sur les petits écrans */
@media (max-width: 1000px) {
    .SideBar {
        width: 60px;
    }

    /* Condition pour masquer le logo et le texte du logo sur les petits écrans */
    .circle2 {
        display: none;
    }

    /* Condition pour masquer le texte des icônes sur les petits écrans */
    .title-text {
        display: none;
    }
}

.circle-container2 {
    display: flex;
    align-items: center;
}

/* Styles pour le cercle du logo sur les petits écrans */
.circle2 {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.3);
    transition: display 0.5s; /* Ajoutez une transition pour la visibilité */
}

.addSpace {
    padding-top: 50%;
}

h2 {
    padding-top: 15px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    padding-top: 6%;
}